<ion-view view-title="ZeeFeed">

  <ion-floating-menu menu-icon="ion-person">
    <!--<ion-floating-item icon="ion-camera" text="Camera"></ion-floating-item>-->
    <ion-floating-item icon="ion-person" ng-click="showInfo()" text="Person""></ion-floating-item>
    <ion-floating-item icon="ion-gear-b" text="Settings" ng-click="goSettings()"></ion-floating-item>
  </ion-floating-menu>

  <ion-content scroll="true" class="zeefeed-background-grey">
    <ion-refresher spinner="lines" on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <div ng-repeat="tagGroup in tags">
        <div class="item item-divider zeefeed-background-grey">
          {{tagGroup.headLetter}}
        </div>
        <ion-item class="item-icon-right" ng-repeat="tag in tagGroup.tagList" href="#tag/{{tag.tagName}}">
          #{{tag.tagName}}
          <span class="badge">{{tag.tagCounter}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
