<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h2 class="title">Account</h2>
    <div class="buttons">
      <button class="padding button my-no-border" ng-click="closeInfo()">
        <i class="icon ion-android-close"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="my-big-margin-bottom">
      <!--<img ng-src="http://ionicframework.com/img/docs/delorean.jpg" class="my-full-width">-->
      <canvas class="my-full-width chart chart-bubble" chart-data="data"
              chart-colors="colors" chart-options="options" chart-series="series"></canvas>
      </canvas>
      <div class="my-float-right my-portrait-square-outside">
        <img ng-src="img/ben.png" class="my-portrait-square-inside">
      </div>
      <p class="zeefeed-float-right my-portrait-text">{{user.userName}}</p>
    </div>
    <div class="text-center padding">
      <button class="button button-block button-assertive" ng-click="logout()">Logout</button>
    </div>
  </ion-content>

</ion-modal-view>
