/*Add your own CSS if you like */

.imageClass{
  width:20px;
}
.zeefeed-background-grey{
  background: #fafafa;
}
.zeefeed-margin-buttom-5{
  margin-bottom: 5px;
}
.zeefeed-float-right{
  float: right;
}
